*{

}


div{
    color:#ffff00;
    font-family: Arial, Helvetica, sans-serif;
}

#ana{
    color:#ffff00;
}
#ananya{
    color:white;
}
#anek{
    color:aquamarine;
}
#hee{
    color:burlywood;
}
h1, h2 , h3, h4{
    color: red;
}
button {
    color:white;
}
#one{
 background-color: #f67004;
 padding: 1em;
}
#two{
 background-color: #383BE5;
 padding: 1em;
}
#three{
 background-color: #2FEE6C;
 padding: 1em;
}
#main-heading{
    color: orange ;
}

#featured{
    color: red;
}
.featured{
    color: green;
}
a[target]{
    background-color: white;
}
img[alt]{
    border:2px solid red;
    color:white;
}
