body{
    background-image: url("https://img.freepik.com/free-vector/city-park-scene-background_1308-26343.jpg?semt=ais_hybrid&w=740&q=80");

}
.dabba{
    display: block;
    height: 240px;
    width: 100px;
    background-color: black;
    margin:auto;
    border-radius:10%;
}
.red{
    display: block;
    height: 20px;
    width: 20px;
    background-color: red;
    margin:auto;

    padding: 1em;
    margin-top: 30px ;
    border-radius:50%;
}
.yellow{
    display: block;
    height: 20px;
    width: 20px;
    background-color: rgb(233, 233, 31);
    margin:auto;
    padding: 1em;
    margin-top: 40px ;
    border-radius:50%;
}
.green{
    display: block;
    height: 20px;
    width: 20px;
    background-color: rgb(22, 201, 22);
    margin:auto;
    padding: 1em;
    margin-top: 40px ;
    border-radius:50%;
}