.one{
    width: 70px;
    height: 50px;
    transition-property:width;
    transition-duration: 2s;
    transition-delay: 0.5s;
    transition-timing-function:ease-in;
    background-color:greenyellow
}
.one:hover{
    width:100%;
    background-color: violet;
}
.two{
    width: 70px;
    height: 50px;
    transition-property:width;
    transition-duration: 2s;
    transition-delay: 0.5s;
    transition-timing-function:linear;
    background-color:greenyellow
}
.two:hover{
    width:100%;
    background-color: violet;
}
.three{
    width: 70px;
    height: 50px;
    transition-property:width;
    transition-duration: 2s;
    transition-delay: 0.5s;
    transition-timing-function:cubic-bezier(0.6, 0.28, 0.735, 0.045);
    background-color:greenyellow
}
.three:hover{
    width:100%;
    background-color: violet;
}
img{
    display: block;
    margin: auto;
    border-radius: 20%;
    border: 5px solid violet;
    filter: saturate(87%);
    filter: drop-shadow(8px 8px 10px green);
    transform:translateX(120px);
}
body{
    background-color: black;
    color:white;
}
h1{
    filter:drop-shadow(8px 8px 12px white);
}